body {
    display: grid;
    width: 100vw;
    height: 100vh;
    margin: 0;
    grid-template-columns: 70% 30%;
    grid-template-rows: 10% 5% 85%;
}

h1 {
    margin: 0px;
    padding-top: 1%;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background: radial-gradient(
        circle,
        rgb(255, 220, 156) 0%,
        orange 100%
    );
    font-family: 'Calibri';
    border-bottom: 3px solid rgba(0, 0, 0, 0.4)
}

.draw-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: rgb(255, 250, 158);
    border-right: 3px solid goldenrod;
}

.area {
    display: flex;
    width: 75%;
    height: 75%;
    background-color: white;
    justify-content: center;
    align-items: center;
    overflow: auto;
    border-radius: 10px;
    border: 1px solid black;
}

.controls {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.object-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4
}

.square {
    width: 100px;
    height: 100px;
    background-color: orange;
}

.triangle {
    width: 0px;
    border: solid 75px;
    border-color: transparent transparent orange transparent;
    margin-top: -75px;
}

.rectangle {
    width: 150px;
    height: 75px;
    background-color: orange;
}

.object-heading {
    text-align: center;
}

h2 {
    font-family: 'Calibri';
}

button {
    background-color: orange;
    padding: 8px;
    border-radius: 10px;
    border-color: orange;
    font-size: medium;
}

.reset {
    background-color: rgb(255, 60, 60);
    color: azure;
}